#top {
    float: left;
    background-color: yellow;
    height: 20%;
    width: 100%;
}

#left{
    position: relative;
    float: left;
    background-color: aqua;
    min-height: 80%;
    width: 20%;
    
}
#center{
    float: left;
    background-color: red;
    min-height: 80%;
    width: 60%;
}
#right{
    float: right;
    background-color: green;
    min-height: 80%;
    width: 20%;
}
#agregar {
    position: absolute;
    bottom:20;
    left: 40%;
    right: 25%;
}
#trash{
   
    background-color: purple;
    min-height: 70%;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}

